body    {
    font-family: "lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color:  $color-grey-dark;
    
    
    
}

.heading-primary  {
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    backface-visibility: hidden;
    font-size: 2rem;
    margin-bottom: 6rem;

    
    &--main    {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveinLeft 1s ease-in;

        @include respond(phone){
            letter-spacing: 1rem;
            font-size: 5rem;
        }
        
        }
        /* to work out remember that the font size of 3em is 60px inherited from the parent. that then means the letter spaceing
        or any other width measurement will have 1 em = 60px */
        
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.7rem;
        animation: moveinRight 1s ease-in;

        @include respond(phone){
            letter-spacing: .5rem;
            
        }
        
        }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, 
    $color-primary-light, 
    $color-primary-dark);
    display: inline-block;
    
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
    
    letter-spacing: 2px;
    transition: all .2s;

    @include respond(tab-port){
        font-size: 3rem;
    }

    @include respond(phone){
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    text-transform: uppercase;
    font-size: $default-font-size;
    font-weight: 700;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child)  {
        margin-bottom: 3rem;
    }
}